/** find relevant element class and override some props to fit to your page requirements  (try within/without)*/ 
.react-bs-table-sizePerPage-dropdown {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;   
}

.product-table {
    padding-right: 15px;
    margin-top: -56px;
    margin-bottom: 50px;
}

.product-search {
    padding-right: 16px;
    padding-left: 16px;
    position: relative;   
}



@media only screen and (max-width: 575px) {
    .product-table {
        padding-right: 0px;
        margin-top: 0px;
    }
  
  }


  @media only screen and (max-width: 991px) {
    .product-table {
        padding-right: 0px;
    }
  
  }

.table > thead {
    /*background-color: #17a2b8;
    color: white;*/
}

.table > thead > tr > th {
    border: none;
    font-weight: 300;
}

.sort-caret {
    color: black;
    
}
.product-search > .form-label-group {
    margin-bottom: 0;
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.5rem;
    height: 2.375rem;
    line-height: 3.2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}